<h4 class="list-group">Listado</h4>
<ul>
    <li class="list-group-item justify-content-between" *ngFor="
    let character of characterList; 
    let i = index; 
    let isFirst = first; 
    let isLast = last; 
    let isEven = even" [ngClass]=" 
     {
        'list-group-item-success' : isFirst,
        'list-group-item-dark' : isLast,
        'list-group-item' : isEven,
     } ">
        <div>
            <span class="text-primary ">{{i + 1}}. </span>
            <span>{{character.name}} - </span>
            <strong>Poder: </strong>
            <span>{{character.power}} </span>
        </div>
        <button 
        class="btn btn-danger"
        (click)="onDeleteCharacter(characterList[i].id!)"
        >X</button>
    </li>
</ul>